services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - MAIL_MAILER=smtp
      - MAIL_HOST=mailhog
      - MAIL_PORT=1025
    depends_on:
      - mailhog
      - db
    volumes:
      - .:/var/www/html
    ports:
      - "8000:80"
    
  db:
    image: postgres:17
    container_name: careers_board_db
    environment:
      POSTGRES_USER: jboard_admin
      POSTGRES_PASSWORD: bdBumcggMTF1GA543ov3
      POSTGRES_DB: jboard
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  zookeeper:
    image: wurstmeister/zookeeper
    container_name: zookeeper
    ports:
      - "2181:2181"

  kafka:
    image: wurstmeister/kafka
    container_name: kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"
    depends_on:
      - zookeeper

  mailhog:
    image: mailhog/mailhog
    ports:
      - "8025:8025"  # Porta per visualizzare la UI di MailHog
      - "1025:1025"  # Porta SMTP di MailHog

volumes:
  postgres_data:  # Definisce il volume named volume
